<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NetCams.Properties.Settings.testdbConnectionString"
            connectionString="data source=testdb" providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>